@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weight, $weight-name );
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($plain-theme: true) {
    @if $plain-theme {
        background: lighten($primary-colour, 100%);
        color: darken($text-colour, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile){
        @content;
    } 
}

body {
    background: $primary-colour;
    color: $text-colour;  
}

.main {
@include flexCenter(row);
    width: 80%;
    margin: 0 auto;
        #{&}-paragraph1 {
        // font-weight: map-get($font-weight, hench );
        font-weight: weight(hench);
        &:hover {
            color: $accent-colour;
        }
        }
        
        #{&}-paragraph2 {
            @extend .main-paragraph1;
            &:hover {
                color: aqua;
            }
            
        }


        @include mobile {
            @include flexCenter(column);
                color: hotpink;
                font-weight: weight(smallish);
                #{&}-paragraph:hover {
                    color: indigo;
                }
        }
}

.plain {
    @include theme($plain-theme: false);
}